<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Todo-App</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h2>Create new user.</h2>
    <form action="#" th:action="@{/users}" th:object="${user}" method="post">
        <p>Username: <input type="text" th:field="*{userName}" /></p>
        <p><input type="submit" value="Submit" /></p>
    </form>

    <h2>Choose existing user</h2>
    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
        </tr>
        <tr th:each="user: ${users}">
            <td th:text="${user.userId}">Id</td>
            <td th:text="${user.userName}">Name</td>
        </tr>
    </table>
</body>
</html>